<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RKH_PLATO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Join_room_Xo_Causaul"
            android:label="Join room" />
        <activity
            android:name=".Casual_XO_Room"
            android:label="Create room" />
        <activity
            android:name=".XOPageMain"
            android:label="@string/title_activity_games_page_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPageAsliActivity"
            android:label="@string/title_activity_main_page_asli" /> <!--  -->
        <activity
            android:name=".MainActivity"
            android:label="WELCOME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signUp.SignUpActivity" />
        <!--<<<<<<< HEAD
                <activity android:name=".SignInActivity" />
                <activity android:name=".ui.notifications.AboutUs" />
                <activity android:name=".Profile" />
                <activity android:name=".PlusFriends" />
                <activity android:name=".XO" />

        =======
        <activity
            android:name=".SignUpActivity"
            android:label="SIGN UP" />
            -->
        <activity
            android:name=".SignInActivity"
            android:label="SIGN IN" />
        <activity
            android:name=".ui.notifications.AboutUs"
            android:label="ABOUT US" />
        <activity
            android:name=".Profile"
            android:label="PROFILE" />
        <activity
            android:name=".PlusFriends"
            android:label="ADD FRIEND" />
        <activity
            android:name=".XO"
            android:label="XO" />

        <activity
            android:name=".PointPageMain"
            android:label="PointPageMain" />
        <activity
            android:name=".Casual_Point_Room"
            android:label="Casual Point Room" />
        <activity
            android:name=".Join_room_Point_Causaul"
            android:label="Point-Box Join Room " />
        <activity
            android:name=".PointBox"
            android:label="Point Box" />

    </application>
</manifest>